
body{
    background:#2E363F;
}

#image{
    border-radius:50%;
    width:100px;
    height:100px;
    float: left;
}
.navbar{
    background:#000;
}
.navbar-brand{
    color:#fff;
}
.nav-link > a{
    color:#fff;
}

.nav-link > a:hover{
    color:blue;
}
